body
{
    background-image: linear-gradient(to top, #2d3436, #375359, #3c757d, #3e99a1, #cdf6f8);
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

}


#countdownSection
{
    text-align: right;
    position: relative;
    top:100px;
    border: 3px;
    border-style: solid;
    width: 200px;
}

footer
{
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(to top, #2d3436, #375359, #3c757d, #3e99a1, #cdf6f8);

}

img {
    width: 350px;
    height: 300px;
    right: 0px;
    bottom: 200px;
    position:fixed;
}

h1
{
text-align: center;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;

}


#buttons:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

#launches
{
  bottom: 700px;
  position: fixed;
}

